{% extends 'base.html.twig' %}
{% block title %}Gaming!{% endblock %}
  {% block stylesheets %}
           <link rel="stylesheet" type="text/css" href="{{asset('css/app.css')}}" />
        {% endblock %}
{% block body %}


    <h1>Ajout d'un nouveau game numéro {{ id }}! ✅</h1>

   
{% endblock %}

